body {
    width:400px;
    height:400px;
    background-image: url(assests/mount.jpg);
    background-size: cover;
}
.container {
    text-align: center;
}
#tem {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 120px;
}
#desc {
    font-size: 30px;
    margin-top: 40px;
}

