body {
    width:430px;
    height:430px;
    background-image: url(assests/mount.jpg);
    background-size: cover;
}
.container {
    text-align: center;
}
#tem {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 120px;
}
#desc {
    font-size: 30px;
    margin-top: 30px;
}
.temperature {
    text-align: center;
}
#feel { font-size: 25px;
}

